@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chatbox container */
/* .chatbox {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
  }
   */
/* Chatbox header */
.body {
  background-color: #333;
}
.chatbox h1 {
  /* //background-color: #333; */
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: white;
}

/* Messages container */
.message {
  max-height: 50px; /* Set a fixed maximum height */
  overflow-y: auto;
  padding: 10px;
  margin-left: 3px;
}

.message ul {
  list-style-type: none;

  margin-bottom: 0;
  margin-left: 3px;
}

.message ul li {
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
}

/* Message input form */
.form {
  display: flex;
  padding: 5px 5px 5px 5px;
  box-sizing: border-box;
  /* //margin-top: 10px; */
  /* margin-left: 2px;
  margin-bottom: 3px; */
}

.input {
  flex: 1;
  box-sizing: border-box;
  padding: 10px;
  font-size: 1rem;
  margin-left: 5px;
  margin-bottom: 6px;
  margin-top: 8px; 
  margin-right: 2px;
  border: 2px solid;
  border-radius: 25px;
  
}

/* Send message button */
.form button {
  padding: 10px 10px 10px 10px;
  margin-left: 5px;
  margin-bottom: 6px;
  margin-top: 8px; 
  margin-right:10px;
  box-sizing: border-box;
  font-size: 1rem;
  

  border: 2px solid;
  border-radius: 25px;
  background-color:#db2777 ;
  
  color: #000;
  cursor: pointer;
  transition: background-color 0.2s ease;
}



.form button:hover {
  background-color: #9d174d;
}

.word {
  word-wrap: break-word;
}
